.dialog {
  padding: 48px 16px 16px;
  position: absolute;
  top: 64px;
  right: 0;
  left: 0;
  border: 0;
  border-radius: 28px;
}

.dialog::after {
  background-color: hsl(0deg 0% 0% / 0.75);
}

.title {
  margin: 0 0 8px;
  font-size: 24px;
}

.required {
  color: #92918F;
  font-size: 13px;
  font-weight: normal;
}

.labelFileUpload {
  display: block;
  width: 108px;
  margin-bottom: 24px;
  padding: 10px 16px;
  color: #161616;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  border: 1px solid #92918F;
  border-radius: 100px;
}

.labelColor {
  display: inline-block;
  margin-left: 16px;
  padding: 0 8px;
  font-size: 16px;
  line-height: 28px;
  border: 1px solid #92918F;
  border-radius: 8px;
}

.formFileUpload {
  display: none;
}

.formText {
  margin: 0 -4px;
  padding: 0 4px;
  font-size: 18px;
  line-height: 2;
  font-weight: bold;
  border: 0;
}

.submit {
  display: block;
  margin: 24px auto 0;
  padding: 10px 24px;
  color: #fff;
  background-color: #020202;
  border: 0;
  border-radius: 100px;
}
