.container {
  margin: 0 12px;
  background-color: #F9F8F6;
}

.section {
  margin: 0 0 16px;
  padding: 16px 0;
  border: 1px dashed #161616;
  border-radius: 28px;
  text-align: center;
}

.section:last-child {
  position: absolute;
  right: 12px;
  bottom: 12px;
  margin: 0;
  padding: 16px;
}

.previewImage {
  max-width: 100%;
}

.dialogButton {
  padding: 10px 16px;
  color: #161616;
  font-size: 16px;
  border: 1px solid transparent;
  background-color: transparent;
}

.dialogButtonImage {
  border-color: #92918F;
  border-radius: 100px;
}

.dialogButtonQuizName {
  opacity: 0.5;
}

.dialogButtonQuizNameFilled {
  opacity: 1;
}
