.container {
  margin: 0 12px;
  padding: 16px;
  background-color: #F9F8F6;
  border: 1px dashed #161616;
  border-radius: 28px;
}

.section {
  margin-bottom: 16px;
  padding: 16px 0;
  text-align: center;
  background-color: #F9F8F6;
  border: 1px dashed #161616;
  border-radius: 28px;
}

.sectionLogo {
  margin-bottom: 24px;
}

.sectionCover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 312px;
}

.sectionBackground {
  position: absolute;
  right: 12px;
  bottom: 12px;
  margin-bottom: 0;
  padding: 10px 24px;
}

.sectionQuizName {
  margin-bottom: 0;
}

.previewImage {
  max-width: 100%;
}

.dialogButton {
  padding: 10px 16px;
  color: #161616;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid transparent;
  background-color: transparent;
}

.dialogButtonImage {
  border-color: #92918F;
  border-radius: 100px;
}

.dialogButtonQuizName {
  opacity: 0.5;
}

.dialogButtonQuizNameFilled {
  opacity: 1;
}
