
.section {
  margin-bottom: 16px;
  padding: 16px 0;
  text-align: center;
  background-color: #F9F8F6;
  border: 1px dashed #161616;
  border-radius: 28px;
}

.sectionLogo {
  margin-bottom: 48px;
}

.sectionCover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 312px;
}

.sectionBackground {
  position: fixed;
  right: 12px;
  bottom: 12px;
  margin-bottom: 0;
  padding: 10px 24px;
  border-style: solid;
  border-color: #92918F;
}

.previewImage {
  max-width: 100%;
}

.dialogButton {
  padding: 10px 16px;
  color: #161616;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid transparent;
  background-color: transparent;
}

.dialogButtonImage {
  border-color: #92918F;
  border-radius: 100px;
}

.dialogButtonQuizName {
  opacity: 0.5;
}

.dialogButtonAction {
  opacity: 0.5;
  color: #fff;
  background-color: #020202;
  border-radius: 100px;
}

.dialogButtonTextInputFilled {
  opacity: 1;
}
